@use 'base/typography' as typography;
@use 'settings/variables' as variables;
@use 'helpers/mixins' as mixins;

.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  // padding: 20px;
  margin: 20px;

  @include mixins.on-desktop {
    margin-bottom: 60px;
    margin-inline: 200px;
  }
}

.container {
  background-color: variables.$white-background;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: variables.$border-radius;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  @include mixins.green-button;

  text-decoration: none;
}

.title {
  margin-block: 0;
  text-align: center;
}

.text {
  text-align: center;
  font-size: 16px;
}

.loaderWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}