@use 'base/typography' as typography;
@use 'settings/variables' as variables;
@use 'helpers/mixins' as mixins;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  @include typography.main-text-mobile;

  @include mixins.on-desktop {
    @include typography.main-text-web;
  }
}

body {
  background: variables.$background-gradient;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  min-width: 375px;
  max-width: 1024px;
  margin: 0 auto;
}

h3 {
  @include typography.title-mobile;

  @include mixins.on-desktop {
    @include typography.title-web;
  }
}
